#scene-panel {
    top: 50%;
    transform: translate(0, -50%);
    right: 102px;
    width: 320px;
    flex-direction: column;

    &:not(.pcui-hidden) {
        display: flex;
    }
}

.splat-list-container {
    max-height: 300px;
    overflow: auto;
}